<%- model_class = Category -%>
<div class="page-header">
  <h1>Categories</h1>
</div>
<%= paginate @categories  %>
<div class="row">
  <%= form_for Category.new do |f| %>
  <div class="col-sm-4">
    <%= f.text_field(:title, :class => "form-control") %>
  </div>
  <div class="col-sm-2">
    <%= f.submit(:class => "form-control btn btn-success") %>
  </div>
  <% end %>
</div>
<div class="row">
  <ul>
    <% for category in @categories %>
      <li><h3><%= link_to category.title, "/categories/#{category.id}"%></h3></li>
    <% end %>
  </ul>
</div>